*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.heading{
  font-size: 40px;
  text-align: center;
  color: red;
  margin: 10px;
  font-weight: bold;
}
.tittle{
  text-align: center;
 
}
.container{
  display: grid;
  width: 90vw;
grid-template-columns: repeat(3,1fr);
  margin-top: 38px;
  grid-gap: 40px;

}
.box{
  background-image: linear-gradient(rgba(177, 44, 44, 0.808),rgba(42, 42, 167, 0.787));
  
}